* {
  box-sizing: border-box;
}

:root {
  --dark: #0c0c0c;
  --light-gray: #f2f2f2;
  --dark-gray: #343a40;
  --dark-orange: #9b3922;
  --light-orange: #f2613f;

  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--dark);
  background-color: var(--light-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-orange);
  border-radius: 8px;
}
